/* Masonry Photo Styling */
.photo-img {
    display: block;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 64px); /* Constrain photos to the viewport height minus header */
    object-fit: cover; /* Ensures photos are cropped to fill space */
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .photo-img:hover {
    transform: scale(1.05);
  }
  
  /* Modal Photo Styling */
  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modal-photo {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain; /* Ensure the entire photo is visible within the modal */
    border-radius: 8px;
  }
  
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
  }
  
  .pagination {
    margin-bottom: 75 !important;
  }