.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .greeting-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .image-container {
    margin: 20px 0;
  }
  
  .placeholder-img {
    display: block;
    width: 80%; /* This ensures a 10% margin on both left and right */
    margin: 0 auto; /* Centers the image horizontally */
    border: 5px solid #ccc; /* Adds a frame with a light grey border */
    border-radius: 8px; /* Slightly rounds the corners of the frame */
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
  }
  
  
  .upload-button {
    background-color: #705c53 !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    text-transform: none !important;
  }
  
  .upload-button:hover {
    background-color: #5b4c3f !important;
  }
  
  .dialog-container {
    text-align: center;
  }
  