/* App Bar Styling */
.MuiAppBar-root {
    background-color: #EDDFE0 !important;
  }
  
  .MuiTypography-h6 {
    color: #705C53 !important; /* Set app bar text color to black */
    font-weight: 600;
  }
  
  /* Drawer Styling */
  .drawer {
    width: 100% !important;
    max-width: 100% !important;
  }
  
  .MuiDrawer-paper {
    width: 100% !important;
    height: 50% !important; /* Height for the top-down drawer */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the items vertically */
    align-items: center;
    background-color: #EDDFE0 !important;
    position: relative;
    margin-top: -50px !important;
  }
  
  /* Close Button */
  .close-btn {
    position: absolute;
    bottom: 1rem; /* Move it to the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    color: #000;
    margin-left: 0px !important;
    margin-bottom: -15px !important;
  }
  
  /* Menu Item Styling */
  .menu-item {
    text-align: center;
    width: 100% !important;
    padding: 2rem !important; /* Increase padding for larger items */
    font-weight: 600;
    font-size: 1.5rem !important; /* Increase font size */
    color: #333;
  }
  
  /* Center text within each menu item */
  .menu-item .MuiListItemText-root {
    text-align: center;
  }
  
  /* Hover effect for menu items */
  .menu-item:hover {
    background-color: #dcdcdc;
  }
  
  /* App Bar Buttons Styling */
  .MuiButton-root {
  }
  
  /* Icon Colors */
  .MuiIconButton-root, .MuiListItemIcon-root {
    color: #705C53 !important; /* Set icon color to black */
  }
  
  /* Additional Styling Adjustments */
  .MuiTypography-h6 {
    font-weight: 600;
  }
  
.list-text {
    font-size: 25px !important;
    font-weight: bold !important;
    color: #705C53 !important;
}