.login-container {
    display: flex;
    justify-content: flex-start; /* Align the content to the top */
    align-items: center;
    height: 100vh;
    background-color: #EDDFE0;
    flex-direction: column;
    padding-top: 75px; /* Add some padding from the top */
  }
  
  .login-card {
    padding: 1.5rem; /* Reduced padding for better spacing */
    width: 90%; /* Adjust the width for smaller screens */
    max-width: 400px; /* Maximum width remains the same */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold !important;
  }
  
  .login-subheader {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .login-input {
    margin-bottom: 0.75rem !important; /* Reduced margin for better spacing */
    padding: 0.5rem; /* Adjusted padding for a more compact look */
    font-size: 14px; /* Smaller font size */
    margin-top: .75rem !important;
  }
  
  .login-message {
    color: red;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .login-button {
    background-color: #705C53 !important;
    padding: 0.75rem; /* Adjusted padding for a smaller button */
    color: #FFFFFF !important;
  }
  
  .google-login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .google-login-button {
    width: 100% !important; /* Ensures the button takes up full width */
    max-width: 400px; /* Optional: limits the max width */
  }
  
  .graphic-container {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .login-graphic {
    width: 100%;
    max-width: 250px;  /* Reduced max-width for a smaller image */
    height: auto;
  }
  
  .divider-or {
    text-align: center;
    font-weight: bold;
    margin: 20px 0 !important;
    margin-top: 10px ;
  }
  